body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.headerw{
    width: 94.1%;
    height: 70px;
    background-color: rgb(27, 21, 102);
    position: relative;
    top: -40px;
    color: honeydew;
}
.headerw, div {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 40px;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.imge{
    width: 100%;
    position: relative;
    top: -40px;
    height: 500px;
    object-fit: cover;
    z-index: -2;
}
.lista{
    max-width: 500px;
    padding: 20px 20px;
    margin: auto;
    font-size: 13px;
    background-color: rgb(27, 21, 102, 0.8);
    color: honeydew;
    display: block;
    position: relative;
    top: -500px;
}
.info strong{
    text-align: center;
}
.info{
    max-width: 500px;
    padding: 20px 20px;
    margin: auto;
    font-size: 13px;
    background-color: rgb(27, 21, 102);
    color: honeydew;
    position: relative;
    top: -450px;
    display: block;
}
.informativo{
    background-color: rgb(219, 219, 219);
    width: calc(100%-40px);
    padding: 40px;
    position: relative;
    top: -375px;
}
.triade{
    width: 100%;
    position: relative;
    top: -150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.triade div{
    padding: 0;
    text-align: center;
    font-size: 13px;
    width: 340px;
    margin-bottom: 50px;
}
footer{
    text-align: center;
    text-decoration: none;
}